body{
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
}
p{
    color: rgb(73, 70, 70);
}
.button{
    background-color: #F2789F;
    padding: 10px 30px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.img-400{
    width: 400px;
}
.img-w500-h350-c{
    width: 500px;
    height: 350px;
    border-radius: 20px;
}
.padding-left-30{
    padding-left: 30px;
}
.padding-right-30{
    padding-right: 30px;
}

/* Section-01 All Code */
.section-01{
    padding-top: 150px;
    margin-bottom: 150px;
}
.section-01 h1{
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    border-radius: 100%;
    border-left: 4px solid;
    border-image: linear-gradient(#B5DEFF, #CAB8FF);
    border-image-slice: 1;
    padding-left: 15px;
}
.section-01 h1 span{
    color: #A3DA8D;
}

.section-01 div img{
    padding-left: 100px;
}


/* Section-02 All Code */
.section-02{
    justify-content: space-between;
    margin-bottom: 200px;
}
.details-heading{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.details{
    color: #A3DA8D;
}
.three-div-img-width{
    width: 200px;
}
.section-02 div{
    width: 25%;
    padding: 20px;
    border-radius: 20px;
    height: 400px;
}
.section-02 .div-03{
    background-color: #B5DEFF;
}
.section-02 .div-04{
    background-color: #C1FFD7;
}
.section-02 .div-05{
    background-color: #FCFFA6;
}


/* Section-03 All Code */
.section-03{
    margin-bottom: 150px;
}
.section-03 .div-07{
    padding-left: 50px;
}

/* Section-04 All Code */
.section-04{
    margin-bottom: 200px;
}
.section-04 .div-08{
    padding-right: 50px;
}
.section-04 .div-08{
    padding-top: 50px;
}


/* Section-05 All Code */
.programming-hero-blog{
    text-align: center;
    font-size: 50px;
}
.programming-hero-blog span{
    color: #CAB8FF;
}
.section-05{
    margin-bottom: 100px;
}

/* Section-footer All Code */
.footer{
    margin-left: -100px;
    margin-right: -100px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
.footer p{
    color: lightskyblue;
}
.footer span{
    color: #A3DA8D;
}